// @font-face {
//     font-family: font;
//     // src: url('../../Font/IRANIAN\ SANS.TTF') format('.TTF'),
//     // url('../../Font/10\ YEKAN\ \(TARFAND3.COM\).TTF') format('.TTF'),
//     src:url('../../Font/B\ ZAR.TTF' ) format('.TTF');
// }
body {
  font-weight: bolder;
}
.heder {
  background-color: #eab543 !important;
  padding: 10px !important;
}
.point {
  height: 15rem !important;
  margin-bottom: 4rem !important;
}
.pointer-bg {
  background-color: #424548;
}
