
body {
  font-weight: bolder;
}
.heder {
  background-color: #eab543 !important;
  padding: 10px !important;
}
.point {
  height: 15rem !important;
  margin-bottom: 4rem !important;
}
.pointer-bg {
  background-color: #424548;
}
